{% extends 'base.html' %}

{% include 'nav.html' %}
{% block search_bar_clearfix %}
    <script type="text/javascript">
        $(function () {
            // 点击数量增加
            $('.add').click(function () {
                // 获取数量
                var num = $(this).prev().val();
                num = parseInt(num);
                // 每次点击数量加1
                var ck = num + 1;
                // 单价
                var p = $('.prize_bar').children().find('em').text();
                p = parseFloat(p);
                // 小计
                var ptotal = ck * p;
                $(this).prev().val(ck);
                $('#tl').text(ptotal.toFixed(2) + '元');
            });

            // 点击数量减少
            $('.minus').click(function () {
                // 获取数量
                var num = $(this).prev().prev().val();
                num = parseInt(num);
                // 每次点击数量减1
                var ck = num - 1;
                // 单价
                var p = $('.prize_bar').children().find('em').text();
                p = parseFloat(p);
                // 小计
                var ptotal = ck * p;
                if (num == 0) {
                    return
                }
                $(this).prev().prev().val(ck);
                $('#tl').text(ptotal.toFixed(2) + '元');
            });

            //  手动输入商品数量
            $('.num_show').change(function () {
                // 商品数量
                var num = $(this).val();
                // 校验商品数量是否合法
                if (isNaN(num) || num.trim().length == 0 || parseInt(num) <= 0) {
                    num = 1;
                    $(this).val(num);
                }
                // 单价
                var p = $('.prize_bar').children().find('em').text();
                p = parseFloat(p);
                var sum = num * p;
                // 总价
                $('#tl').text(sum.toFixed(2) + '元');
            });
        })
    </script>

    <div class="search_bar clearfix">
        <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="search_con fl">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
        <div class="guest_cart fr">
            <a href="/cart/" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">0</div>
        </div>
    </div>
{% endblock %}
{% block navbar_con %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="#" class="fruit">新鲜水果</a></li>
                    <li><a href="#" class="seafood">海鲜水产</a></li>
                    <li><a href="#" class="meet">猪牛羊肉</a></li>
                    <li><a href="#" class="egg">禽类蛋品</a></li>
                    <li><a href="#" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="#" class="ice">速冻食品</a></li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="/">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">新鲜水果</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>




    <div class="goods_detail_con clearfix">

        {# goodsimg 商品图片 #}
        <div class="goods_detail_pic fl"><img id="goodsimg" src="{{ data.goodsimg }}"></div>

        <div class="goods_detail_list fr">
            {# goodsname 商品名称 #}
            <h3 name="gname">{{ data.goodsname }}</h3>
            {# goodsdesc 商品简介 #}
            <p>{{ data.goodsdesc }}</p>
            <div class="prize_bar">
                {# goodsprice 商品价格 #}
                <span class="show_pirze">¥<em id="goodsprice">{{ data.goodsprice }}</em></span>
                {# goodsunit 商品单位  #}
                <span class="show_unit">单  位：{{ data.goodsnum }}</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" id="num_show" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：<em id="tl">{{ data.goodsprice }}元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn" id="buy_btn">立即购买</a>
                <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    <li>
                        <a href="#"><img src="/static/images/goods/goods001.jpg"></a>
                        <h4><a href="#">进口柠檬</a></h4>
                        <div class="prize">￥3.90</div>
                    </li>
                    <li>
                        <a href="#"><img src="/static/images/goods/goods002.jpg"></a>
                        <h4><a href="#">玫瑰香葡萄</a></h4>
                        <div class="prize">￥16.80</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>
            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    {# goodsdetail 商品详情 #}
                    <dd>{{ data.goodsdetail }} </dd>
                </dl>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#add_cart").click(function () {
                var tag = $(this);
                //商品价格
                var goodsprice = $(".prize_bar").children().find("em").text();
                //商品数量
                var num_show = $("#num_show").val();
                //商品总价
                var num_total = $("#tl").text().replace("元", "");
                //post,csrf令牌
                var csrf = document.cookie.split("=")[1];
                var www = window.location.href;
                var id = www.charAt(www.length - 1);
                $.ajax({
                    url: '/apps.goods/cart',
                    data: {
                        csrfmiddlewaretoken: csrf,
                        'goodsprice': goodsprice,
                        'goodsnum': num_show,
                        'goodstotal': num_total,
                        'goodsid': id,
                    },
                    method: 'post',
                    async: true,
                    success: function (data) {
                        if (data.status) {
                            var text = $("#show_count").text() - 0 + 1;
                            $("#show_count").text(text)
                        }
                    }
                })
            });

            $("#buy_btn").click(function () {
                var tag = $(this);
                //获取商品id
                var www = window.location.href;
                var id = www.charAt(www.length - 1);
                //获取商品数量
                var goodsnum = $("#num_show").val();
                //js传递参数给请求
                window.location.href = "/apps.order/place_order/" + "?id=" + id + "&num=" + goodsnum
            })


        })


    </script>



{% endblock %}



